finalflow.json
[{"id":"bec67efd.e9da2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2cb097b4.3c483","type":"http request","z":"bec67efd.e9da2","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.124.135:5000/analyze","tls":"","persist":false,"proxy":"","authType":"","x":362,"y":442,"wires":[["47476f35.ef8b98"]]},{"id":"1296d73b.eccdd1","type":"debug","z":"bec67efd.e9da2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.instance_1.dominant_emotion","targetType":"jsonata","statusVal":"","statusType":"auto","x":720,"y":443,"wires":[]},{"id":"47476f35.ef8b98","type":"json","z":"bec67efd.e9da2","name":"","property":"payload","action":"","pretty":false,"x":545,"y":441,"wires":[["1296d73b.eccdd1"]]},{"id":"f270f269.2a45b8","type":"inject","z":"bec67efd.e9da2","name":"","props":[{"p":"variavel","v":"base64","vt":"env"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"img\":[\"data:image/jpeg;base64,$base64\"]}","payloadType":"json","x":180,"y":1712,"wires":[["c165187c.e4e5d8"]]},{"id":"c165187c.e4e5d8","type":"file in","z":"bec67efd.e9da2","name":"img","filename":"/home/user/Transferências/face.jpg","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":360,"y":1712,"wires":[["fe1234a0.3727f"]]},{"id":"fe1234a0.3727f","type":"function","z":"bec67efd.e9da2","name":"","func":"img = msg.payload;\nmsg.payload = {\"img\":[\"data:image/jpeg;base64,\"+img+\"\"]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1712,"wires":[[]]},{"id":"ff6f50a.322363","type":"mqtt in","z":"bec67efd.e9da2","name":"","topic":"topic","qos":"2","datatype":"json","broker":"68fa7de9.794944","x":116,"y":518,"wires":[["2cb097b4.3c483","5728b8d0.c1e998"]]},{"id":"c268c411.75ea4","type":"mqtt out","z":"bec67efd.e9da2","name":"","topic":"topic","qos":"2","retain":"","broker":"68fa7de9.794944","x":805,"y":363,"wires":[]},{"id":"8aa05ecb.cb14f8","type":"watch","z":"bec67efd.e9da2","name":"","files":"/home/user/Transferências/","recursive":"","x":148,"y":363,"wires":[["6ad6791.dd91188"]]},{"id":"67bc645a.dd773c","type":"file in","z":"bec67efd.e9da2","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":494,"y":363,"wires":[["43f60e23.036e28"]]},{"id":"43f60e23.036e28","type":"function","z":"bec67efd.e9da2","name":"","func":"img = msg.payload;\nmsg.payload = {\"img\":[\"data:image/jpeg;base64,\"+img+\"\"]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":638,"y":363,"wires":[["c268c411.75ea4"]]},{"id":"6ad6791.dd91188","type":"delay","z":"bec67efd.e9da2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":349,"y":363,"wires":[["67bc645a.dd773c"]]},{"id":"5728b8d0.c1e998","type":"exec","z":"bec67efd.e9da2","command":"rm -f /home/user/Transferências/*","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":421,"y":596,"wires":[[],[],["fb137e3.8de8d8"]]},{"id":"fb137e3.8de8d8","type":"debug","z":"bec67efd.e9da2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":708,"y":607,"wires":[]},{"id":"9cfec4fe.997378","type":"exec","z":"bec67efd.e9da2","command":"python3 /home/user/BlurryFrameRemover/blurryframeremover.py --image /mnt/hgfs/final/fotos --threshold 110","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":445,"y":170,"wires":[["d0366ebc.fb36f"],[],[]]},{"id":"802d359e.b584e8","type":"inject","z":"bec67efd.e9da2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":140,"y":101,"wires":[["9cfec4fe.997378"]]},{"id":"e7eaabc.26f3a58","type":"debug","z":"bec67efd.e9da2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":757,"y":267,"wires":[]},{"id":"d0366ebc.fb36f","type":"bigssh","z":"bec67efd.e9da2","name":"","commandLine":"mv /mnt/hgfs/final/fotos/* /home/user/Transferências/","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"","payloadIsArg":false,"myssh":"b37edcbd.85013","x":522,"y":276,"wires":[["e7eaabc.26f3a58"],[],[]]},{"id":"68fa7de9.794944","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b37edcbd.85013","type":"SSH_Credentials","host":"127.0.0.1","port":"22","userlabel":"user@127.0.0.1"}]